@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body{
  background-color: #888;
}
*{
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  --size-button: 40px;
  display: inline;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #f1f1f1;
}

.input {
  padding-left: 40px;
  padding-top: 10px;
  height: 30px;
  font-size: 13px;
  border: none;
  color: #fff;
  outline: none;

  width: 0px;
  transition: all ease 0.3s;
  background-color: #191A1E;
  /* box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e; */
  border-radius: 40px;
  cursor: text;
}

/* .input:focus,
.input:not(:invalid) {
  width: 400px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
} */

/* .input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
} */

.container .icon {
    pointer-events: all;
  position: absolute;
  width: 25px;
  height: 25px;
  /* top: 0; */
  bottom: 2px;
  left: 1px;
  padding: 7px;
  color: white;
  cursor: pointer;
}

.container .icon svg {
  width: 100%;
  height: 100%;
}
.adding{
    width: 60vw;
    padding-right: 35px;
    overflow: hidden;
}



/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

/* Hide default HTML checkbox */
.switch .chk {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: .4s;
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 2.5px;
  left: 5.5px;
  bottom: 5.5px;
  background-color: white;
  transition: .4s;
  scale: 0;
}

.chk:checked + .slider {
  background-color: limegreen;
  transform: scale(0.7);
  border-radius: 50%;
}

.chk:checked + .slider:before {
  transform: rotateZ(360deg);
  scale: 1;
  border-radius: 50%;
}


.chat{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  position: fixed;
  bottom: 10%;
  left: 50%;
  right: 50%;
  
}
.micro{
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #f1f1f1;
}
.solid{
  color: white;
  /* background-color: #000; */
  position: absolute;
  font-size: 20px;
  top:10px;
left: 13px;
z-index: 1;
}
.fa-regular{
  
  position: absolute;
  color: #fff;
  bottom: 15px;
  right: 13px;
}
.send{
  display: none;
  
}
.scale{
  scale: 0.5;
  
}
.sendon{
  display: block;
  
}

textarea {
  display: block;
  /* position: fixed;
  bottom: 0;
  right: 10px; */
  /* width: 100%; */
  /* padding-top:15px;
  padding-bottom: 0px; */
  font-size: 5px;
  /* border: 1px solid #ddd; */
  /* border-radius: 5px; */
  resize: none;
  min-height: 0px;
  max-height: 200px;
  
  overflow: hidden;
    
}
textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  cursor: grab;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#chatbox::-webkit-scrollbar {
  width: 10px;
}

#chatbox::-webkit-scrollbar-track {
  background: #5b5b5b;
}

#chatbox::-webkit-scrollbar-thumb {
  background: rgb(191, 190, 190);
  border-radius: 5px;
  cursor: grab;
}

#chatbox::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 164, 164);
}

li{
  padding: 20px;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  border-radius: 5px;
}
.userbox{
  text-align: right;
  background-color: #888;
  min-width: 80vw;
  max-width: 700px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  color: white;
  gap: 20px;
}
.fa-user{
  order: 1;
}
.botbox{
  list-style: none;
  text-align: left;
  color: #f1f1f1;
  background-color: #000;
  min-width: 80vw;
  max-width: 700px;
  /* align-self: flex-start; */
  display: flex;
  gap: 20px;
}

#chatbox{
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.typing-text::after {
  content: "\25CF";
  animation: blink 1s infinite;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 5px;
  display: inline-block;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.typing-text.typed::after {
  content: "";
  animation: none;
}
